<!DOCTYPE html>
<%- include('../components/head') %>

    <title>Series</title>

    <body>

        <%- include('../components/header') %>

            <div class="container bg-danger mt-6">
                <p class="fs-5 text-white text-center">Series</p>
            </div>

            <section class="container">
                <article class="row row-cols-1 row-cols-md-3 g-4">
                    <% series.forEach(function(serie){ %>
                        <div class="col">
                            <div class="card border-light bg-transparent mb-3">
                                <img src="/img/<%= serie.image %>" alt="<%= serie.title %>" class="card-img-top">
                                <div class="card-body text-danger">
                                    <h5 class="card-title text-center">
                                        <%= serie.title %>
                                    </h5>
                                    <p class="card-text text-center">
                                        <%= serie.descricao %>
                                    </p>
                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <button class="btn btn-block btn-outline-danger">Assistir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </article>
            </section>

            <%- include('../components/script') %>

    </body>

    </html>